{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: {{ include "authz-bigquery.podDisruptionBudget.apiVersion" . }}
kind: PodDisruptionBudget
metadata:
  name: {{ template "authz-bigquery.fullname" . }}
  labels:
{{- include "authz-bigquery.labels" . | nindent 4 }}
  {{- with .Values.podDisruptionBudget.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.podDisruptionBudget.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  {{- else if .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.podDisruptionBudget.maxUnavailable }}
  {{- else }}
  minAvailable: 0
  {{- end }}
  selector:
    matchLabels:
      {{- include "authz-bigquery.selectorLabels" . | nindent 6 }}
{{- end }}

