apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "authz-sql-pdp-modifier.fullname" . }}
  labels:
{{- include "authz-sql-pdp-modifier.labels" . | nindent 4 }}
{{- if .Values.annotations }}
  annotations:
{{ toYaml .Values.annotations | indent 4 }}
{{- end }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.strategy.rollingUpdate.maxSurge }}
      maxUnavailable: {{ .Values.strategy.rollingUpdate.maxUnavailable }}
  selector:
    matchLabels:
      {{- include "authz-sql-pdp-modifier.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "authz-sql-pdp-modifier.selectorLabels" . | nindent 8 }}
        version: "{{ .Values.image.tag | default .Chart.AppVersion }}"
        {{- if .Values.podLabels }}
          {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
      {{- if .Values.podAnnotations }}
      annotations:
      {{- with .Values.podAnnotations }}
{{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
    spec:
      automountServiceAccountToken: {{ .Values.serviceAccount.automountToken }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "authz-sql-pdp-modifier.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          {{ if .Values.command }}
          command:
{{ toYaml .Values.command | indent 16 }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if or .Values.metrics.enabled .Values.service.enabled }}
          ports:
            {{- if .Values.service.enabled }}
            - name: {{ .Values.service.name }}
              containerPort: {{ .Values.containerPort }}
              protocol: {{ .Values.service.protocol }}
            {{- end }}
            {{- if .Values.metrics.enabled }}
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
              protocol: TCP
            {{- end }}
            {{- if .Values.debug.enabled }}
            - name: debug
              containerPort: {{ .Values.debug.port }}
              protocol: TCP
            {{- end }}
          {{- end}}
          envFrom:
            - configMapRef:
                name: {{ template "authz-sql-pdp-modifier.fullname" . }}-env
            - secretRef:
                name: {{ template "authz-sql-pdp-modifier.fullname" . }}-secret-env
          env:
            - name: APPLICATION_NAME
              value: "{{ template "authz-sql-pdp-modifier.fullname" . }}"
            - name: NAMESPACE_NAME
              value: "{{ .Release.Namespace }}"
          volumeMounts:
            - name: {{ include "authz-sql-pdp-modifier.fullname" . }}-config
              readOnly: false
              mountPath: /app/application.properties
              subPath: application.properties
            - name: {{ include "authz-sql-pdp-modifier.fullname" . }}-config
              readOnly: false
              mountPath: /app/plainid.cloud.crt
              subPath: plainid.cloud.crt
            - name: {{ include "authz-sql-pdp-modifier.fullname" . }}-secret
              readOnly: false
              mountPath: /app/plainid.pem
              subPath: plainid.crt
            - name: {{ include "authz-sql-pdp-modifier.fullname" . }}-secret
              readOnly: false
              mountPath: /app/plainid_priv.key
              subPath: plainid_priv.key
          {{- if .Values.extraVolumeMounts }}
            {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
          {{- end }}
          {{- with .Values.lifecycle }}
          lifecycle:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.livenessProbe.httpGet.path }}
              port: {{ .Values.livenessProbe.httpGet.port }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: {{ .Values.readinessProbe.httpGet.port }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.startupProbe.enabled }}
          startupProbe:
            httpGet:
              path: {{ .Values.startupProbe.httpGet.path }}
              port: {{ .Values.startupProbe.httpGet.port }}
            initialDelaySeconds: {{ .Values.startupProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds }}
            failureThreshold: {{ .Values.startupProbe.failureThreshold }}
            successThreshold: {{ .Values.startupProbe.successThreshold }}
            timeoutSeconds: {{ .Values.startupProbe.timeoutSeconds }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- if .Values.extraContainers }}
        {{ toYaml .Values.extraContainers | nindent 8 }}
      {{- end }}
      dnsPolicy: {{ .Values.dnsPolicy }}
{{- if .Values.initContainers }}
      initContainers:
        {{- if eq (typeOf .Values.initContainers) "string" }}
        {{- tpl .Values.initContainers . | nindent 8 }}
        {{- else }}
        {{- toYaml .Values.initContainers | nindent 8 }}
        {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: {{ include "authz-sql-pdp-modifier.fullname" . }}-config
          configMap:
            name: {{ include "authz-sql-pdp-modifier.fullname" . }}
            defaultMode: 420
        - name: {{ include "authz-sql-pdp-modifier.fullname" . }}-secret
          secret:
            secretName: {{ include "authz-sql-pdp-modifier.fullname" . }}
            defaultMode: 420
        {{- if .Values.extraVolumes }}
        {{- toYaml .Values.extraVolumes | nindent 8 }}
        {{- end }}
      affinity:
        {{- if eq .Values.antiAffinity "hard" }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app.kubernetes.io/name: {{ template "authz-sql-pdp-modifier.name" . }}
                  namespace: {{ .Release.Namespace }}
              topologyKey: {{ .Values.antiAffinityTopologyKey }}
        {{- else if eq .Values.antiAffinity "soft" }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: {{ .Values.weight }}
              podAffinityTerm:
                topologyKey: {{ .Values.antiAffinityTopologyKey }}
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: {{ template "authz-sql-pdp-modifier.name" . }}
                    namespace: {{ .Release.Namespace }}
      {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
